@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
    /* custom font */
    --font-inter: "Inter", sans-serif;

    /* custom bg color */
    --color-custom-bg-black: #070809;
    --color-custom-bg-btn: #373ffb;
    --color-custom-bg: #ff437b;

    /* custom font color */
    --color-custom-text-primary: #bcc6d0;
    --color-custom-text-white: #ffffff;
    --color-custom-marquee-text: #595f65;

    /* custom border color */
    --color-border-gray: #2f2f2f;

    /* custom radial gradient color */
    --color-custom-radial-gradient: #14171a;
}

@layer components {
    .container {
        @apply w-full max-w-[1440px] mx-auto sm:px-10 md:px-16 lg:px-[130px];
    }
}

@layer utilities {
    .bg-radial-glow {
        background: radial-gradient(
            at 50% 5%,
            rgb(255 255 255 / 0.05),
            rgb(255 255 255 / 0) 80%
        );
    }
}

html {
    @apply scroll-smooth;
}

body {
    @apply font-inter bg-custom-bg-black text-custom-text-white;
}

/* * {
    border: 1px solid red;
} */
